.label, .text-field, .button {
    -fx-font-family: "Poppins";
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

/* Styles spécifiques pour les boutons */
.button {
    -fx-text-fill: white;
    -fx-font-weight: 700;
    -fx-background-color: #db1f48;
}

.text-field {
    -fx-text-fill: black;
    -fx-font-weight: 600;
}

.button:hover {
    -fx-background-color: #E17055;
}

/* Styles pour la TableView */
.table-view {
    -fx-font-family: "Poppins";
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-font-weight: 600;
}

/* Styles pour l'en-tête de la TableView */
.table-view .column-header {
    -fx-background-color: #1758A8;
    -fx-text-fill: black;
    -fx-font-family: "Poppins";
    -fx-font-size: 16px;
}

/* Couleur pour les lignes impaires */
.table-view .table-row-cell:odd {
    -fx-background-color: #D3D3C4;
}

/* Couleur pour les lignes paires */
.table-view .table-row-cell:even {
    -fx-background-color: #FFFEF2;
}

/* Couleur pour la ligne sélectionnée */
.table-view .table-row-cell:selected {
    -fx-background-color: #0984e3;
}

/* Couleur de fond du BorderPane */
.root {
    -fx-background-color: #0C1446;
    -fx-background: #0C1446;
}

.alert {
    -fx-background-color: #f8d7da;
}

.alert .content {
    -fx-font-size: 16px;
    -fx-text-fill: red;
}

.alert .header {
    -fx-font-size: 18px;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.products-form-grid-pane .label {
 -fx-alignment: center-right;
 -fx-min-width:150;
 -fx-font-weight: 600;
}
